.hero {
    background-image: url('https://c1.staticflickr.com/9/8491/8413654901_1c1d13aa2d_b.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.subtitle {
    color: white;
}

.title {
    font-family: 'Molle', cursive;
    font-weight: bold;
    color: rgb(5, 5, 5);
    font-size: 50px;
}

.footerTitle {
    font-family: 'Molle', cursive;
    font-weight: bold;
    color: rgb(5, 5, 5);
    font-size: 20px;
}

.contact {
    font-weight: bold; 
}