body {
    font-family: 'Lalezar', cursive;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/medicalcomputer.jpg");
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: auto;
}

img {
    border-radius: 50%;
    padding-top: 10px;
}

p {
    padding: 5px;
    color: gray;
}

#AboutMe {
    background: lightgray;
}

#Description {
    padding: 20px;
}