body {
    font-family: 'Lalezar', cursive;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/concrete_seamless.png");
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: auto;
}
